@font-face {
    font-family: Assistant-Regular;
    src: url(./Assistant-Font/Assistant-Regular.ttf);
}
@font-face {
    font-family: Assistant-Bold;
    src: url(./Assistant-Font/Assistant-Bold.ttf);
}
@font-face {
    font-family: Assistant-Light;
    src: url(./Assistant-Font/Assistant-Light.ttf);
}

* {
    box-sizing: border-box;
  }
  p{
    margin: 0;
  }
  :root{
    --font-Regular: Assistant-Regular;
    --font-Bold: Assistant-Bold;
    --font-Light: Assistant-Light;
    --black: #191414;
    --green:#1DB954;
    --gray: #f3f4f6;
    --cherry: #990011ff;
    
}
html,body{
    height: 100%;
    margin: 0;
    font-family: var(--font-Regular);
}
@media (min-width: 200px){
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 7fr;
    }
    #header{
        grid-row: 1;
    }
    #content{
        grid-row: 2;
    }
}

body{
    display: grid;
}
/* Header */ 
#header{
    display: flex;
    font-size: var(--font-Bold);
    font-size: 19px;
    justify-content:space-around;
    align-items: center;
    background: rgb(249,231,254);
    background: radial-gradient(circle, rgba(249,231,254,1) 0%, 
    rgba(218,252,252,1) 100%);
    color: var(--color-black)
}
 /* Content */
 #main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--gray);
 }
 #board{
    display: grid;
    align-self: center;
    width: 50%;
    min-width: 340px;
    height: 80%;
    margin-bottom: 2rem;

 }

 #player-info{
    display: flex;
    flex: 1;
    justify-content: space-around;
 }


/* All Buttons */ 
button:hover{
   box-shadow: 3px 4px var(--black);
   cursor:pointer;
 }

 button:focus{
    background-color: transparent;
}

